<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reading List</title>
</head>

<body>
<!-- need to write clientside for this file -->
    <nav>
        <a href="/7gsreef/new">Add New Book</a>
    </nav>

    <h1></h1>

    <ul>
        <%coral.forEach(c => {%>
            <li>
                <a href="/7gsreef/<%=c._id%>">
                    <%=c.title%>
                </a>
                <form action="/coral/<%=c._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <a href="/7gsreef/<%=c._id%>/edit">Edit coral</a>
            </li>
            <%});%> 
    </ul>
</body>
</html>